@{
    ViewBag.Title = "deleteItem";
}

<h2>deleteItem</h2>
<form action="/Admin/DeleteUpdate" class="form-control">
    <input type="text" name="Id" placeholder="Id Of Item" />
    
    <input type="submit" value="Delete" />
</form>