@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mainbodyforitems">
    


    <hgroup>
        <h1 style="color:white"><br> @(ViewBag.ErrorCode) Error
.</h1>
        <h2 style ="color:white">
            An error occurred while processing your request.<br>
            <br> Some processing Error.
            <br>  Please Try again
        </h2>
    </hgroup>
</div>