@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div  align="center">
<h2>About Us</h2>
<h5>

Muhammad Umair Raza<br>
Room # 73 HKBW Hall<br>
University of the Punjab Old Campus
Lahore, Pakistan.<br>
+92-320-6026002<br>
umair.raza101@gmail.com<br></h5>
<h2>Objective</h2>
    <h5>
I’m keen interested in learning new technologies and building new applications. I’m interested
in articulating my career in Computer Science as software Engineer and want to nourish my
skills and acquire expertise in my career to mark journey towards glory of success.
Skills</h5>
    <h2>
Professional Skills:</h2>
 <h5>
     Java<br>
 C / C++<br>

 C#/.Net<br>
 Android<br>
 Oracle/MySQL<br>
      Microsoft Office<br>
      Web designing (Html,CSS,JQuery)<br>
      Server Side Programming in java,Asp.Net<br>
 Familiar with Assembly , Little man computer<br>

 Work as teacher assistant to increase my knowledge (ITC)<br>

     </h5>
<h2>Tools:</h2>
    <h5>
         MASM<br>
         Eclipse<br>
         MATLAB<br>


         Android Studio<br>
 Oracle Database<br>

         Microsoft visual studio<br>
</h5>

</div>