@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-left:20%">Contact Us</h1>

<div align="center">
    


    
       
    <h2 style="color:mediumspringgreen">Phone</h2>
          <h4>  +92-320-602-6002</h4>
        
    

    
            <h1 style="color:mediumspringgreen">Email</h1>
   
    <h3  style="color:mediumspringgreen">
        Support:
        <a href="mailto:umair.raza101@gmail.com" style="color:turquoise">umair.raza101@gmail.com</a>
        <br/>
        Sale:
        <a href="mailto:umair.raza101@gmail.com" >hrpksport@pksports.com</a>
        <br/>
        General:
        <a href="mailto:umair.raza101@gmail.com" >General@pksports.com</a>
    </h3>
      

   
    <h1 style="color:mediumspringgreen">Address:</h1>
       
        <h3>
            Room # 73
            <br />
            Hazrat Khalid bin Waleed Hall
            <br />
            University of the  Punjab Old Campus

        </h3>
    
</div>